@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";



@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-yellow: #F3E96F;
  --color-light-blue: #2F9DB4;
  --color-orange: #FB7139;
  --color-matte-red: #C15259;
  --color-karton: #D6C6AF;
  --color-beige: #F2F0ED;
  --color-white: #FFFFFF;
  --color-ashy-black: #464444;


  /*Typografi */
  --font-display: 'Lilita One', sans-serif;
  --font-sans: 'Open Sans', sans-serif;


}

@layer base {

}

@layer components{

}

@layer utilities{

  .shadow-inner-strong {
    box-shadow: inset 0 6px 12px #464444;
  }

}